html {
    background-color: #FAFAFA;
    font-size: 20px;
    font-family: 'Courier New';
}

input,button,label,select {
    font-size: 20px;
}

button {
    width: 120px;
}

h2 {
    font-size: 30px;
    text-align: left;
}

.headerTitle {
    width:140px;
    font-weight:bold;
    text-align:center;
    background-color:#909090;
}

.tableBox{
    overflow-y: auto;
    border: 2px solid #000000;
    height: 424px;
    width:1551px;
    background-color: #F0F0F0;  /* 背景色指定 */
    -webkit-overflow-scrolling: touch;
}

table {
    font-size: 20px;
    width: 1530px;
}

th {
    background-color: #A9A9A9;  /* 背景色指定 */
}
.sticky {
    position: sticky;
    top: 0;
    left: 0;
    border-top: none;
}

.trDetail:nth-child(odd) {
    background-color: #D3D3D3;  /* 背景色指定 */
}

th,td[name="tdDetail"] {
    padding: 5px 10px;      /* 余白指定 */
    white-space: nowrap;
}

.tekikakuNo {
    width: 185px;
}

.tekikakuName {
    display: inline-block;
    width: 800px;
}
